
.column {
    flex: 1 1 auto;
    min-width: 250px;
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.column-header{
    display: flex;
}
.column h3 {
    margin-bottom: 15px;
}
.column-header h3,
.column-header button{
    flex: auto;
}
.column-header button{
    max-height: 24px;
    max-width: 24px;
    align-self: center;
}


